.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.views-counter {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: darkblue;
    background-color: whitesmoke;
    text-align: center;
    line-height: 23px;
}

.gallery-item {
    position: relative;
    margin: 5px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog_item {
    margin: 5px;
}
