a {
    text-decoration: none;
    color: black;
}

.menu-link__basket {
    position: relative;
}

a span {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: -22px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: red;
    background-color: yellow;
    text-align: center;
    line-height: 23px;
    font-size: 16px;
}

.topmenu {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    font-size: 20px;
}

.catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.item {
    margin: 0 5px;
}

.modalWindow {
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0.98;
    position: fixed;
    top: 0;
    z-index: 100;
    display: block;
    text-align: center;
    visibility: hidden;
}

.visibility {
    visibility: visible;
}

.modalWindow img {
    max-height: 80%;
    max-width: 80%;
    z-index: 101;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.info {
    font-size: 25px;
    font-weight: bold;
    z-index: 160;
}

.order-menu {
    width: 450px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.order_list h3 {
    margin: 0;
}

.basket {
    display: flex;
    flex-wrap: wrap;
}

.order_item {
    width: 450px;
    background-color: beige;
    margin-bottom: 10px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order_item p {
    margin: 0;
}
